<div class="user-container">
  <div class="user-pic"></div>
  <div class="user-contact">
    <h2 class="name">{{name}}</h2>
    <p class="loc">{{city}}, {{country}} | {{job}}</p>
  </div>
  <div class="user-ed">
    <p>Education: {{university}}</p>
    <p>Skills: <ul class="skills"></ul></p>
  </div>
</div>
