<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <div class="user-container">
      <img class="user-pic" src={{avatar}}>
      <div class="user-contact">
        <h2 class="name">{{name}}</h2>
      </div>
      <div class="user-info">
        <p>{{address.city}}, {{address.country}} | {{job}} {{company}}</p>
        <p>{{email}} | {{phone}}</p>
      </div>
      <div class="user-ed">
        <p>Education: {{university}}</p>
        <p>Skills: <ul class="skills"></ul></p>
      </div>
    </div>
  </body>
</html>
