.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  width: 100vw;
  height: 100vh;
}
/*user main page style*/
div.user-main {
  display: flex;
  flex-flow: row wrap;
  width 95%;
  padding: 10px;
}

div.user-container {
  display: flex;
  flex-flow: column;
  width: 20%;
  max-width: 21%;
  flex-grow: 1;
  border: 1px solid #A0AAB2;
  margin: 10px;
  text-align: left;
}

/*user detail style*/
div.user-ed p {
  font-family: sans-serif;
  color: grey;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

div.user-ed p.funemployed {
  color: red;
}

p.funemployed {
  color: red;
  font-family: sans-serif;
}

div.basic-info {
  padding: 2%;
}

img.user-pic {
  height: 150px;
  width: 150px;
  margin: 20px;
  border-radius: 100%;
  border: 1px solid grey;
  float: left;
}

div.user-contact {
  padding: 2%;
  clear: right;
}


h1, h2.name {
  color: #67A0DB;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 10px;
  width: 90%;
  font-size: 2em;
}

h1 {
  font-size: 3em;
}

h2.name a {
  text-decoration: none;
}

div.loc-job {
  display: flex;
}

div.loc-job p {
  padding: 0 10px;
  text-align: left;
}

div.contact p {
  padding: 0 10px;
  margin: 0 10px;
}

p.black {
  color: #000;
}

div.user-ed {
  clear: both;
  display: flex;
  flex-flow: column wrap;
}

div.uni {
  display: flex;
  margin: 0 20px;
  width: 30%;
  text-align: left;
}

div.skill-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 20px;
  width: 100%;
}

div.skill-list p {
  width: 100%;
  margin: 0 20px;
}

div.skill-list ul {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column;
}

div.skill-list ul li {
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}
/*
body.user-detail {
  display: flex;
  flex-flow: column wrap;
  width: 60vw;
  height: 60vh;
  border: 1px solid grey;
}

div.basic-info {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 50%;
  /*flex-grow: 1;*/
  /*padding: 10px;
  border: 1px solid red;*/
}*/


/*
div.user-contact.detail {
  width: 50%;
  flex-grow: 1;
  align-self: flex-end;
  display: flex;
  flex-flow: column wrap;
  border: 1px solid blue;
}*/


/*
div.user-ed {
  flex-grow: 1;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0px;
}

div.user-info {
  flex-flow: column;
}
}*/
